version: '3.9'

services:
  proxy:
    image: nginx
    container_name: proxy
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      BACK_PROXY_PASS: ${BACK_PROXY_PASS:-http://backend:4000}
      FRONT_PROXY_PASS: ${FRONT_PROXY_PASS:-http://frontend:3000}
    ports:
      - target: 80
        published: 80
    volumes:
      - ./proxy:/etc/nginx/templates:ro
      - ./proxy/ssl/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro
      - ./proxy/ssl/privkey.pem:/etc/nginx/ssl/privkey.pem:ro
