services:
  redis-db:
    extends:
      file: ./services/redis.yml
      service: redis-db

  db-init:
    extends:
      file: ./services/db.yml
      service: db-init

  db:
    depends_on:
      db-init:
        condition: service_completed_successfully
    extends:
      file: ./services/db.yml
      service: db

  backend:
    depends_on:
      - db
      - redis-db
    extends:
      file: ./services/backend.yml
      service: backend
    image: blockscout-backend:local
    pull_policy: never
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      args:
        RELEASE_VERSION: 9.3.2
    links:
      - db:database
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command: sh -c "cp /app/config/config_helper.exs /app/releases/9.3.2/config_helper.exs 2>/dev/null || true && bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    environment:
      ETHEREUM_JSONRPC_HTTP_URL: http://host.docker.internal:8540/
      ETHEREUM_JSONRPC_TRACE_URL: http://host.docker.internal:8540/
      ETHEREUM_JSONRPC_WS_URL: ws://host.docker.internal:8640/
      CHAIN_ID: '9001'

  nft_media_handler:
    depends_on:
      - backend
    extends:
      file: ./services/nft_media_handler.yml
      service: nft_media_handler
    image: blockscout-backend:local
    pull_policy: never
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      args:
        RELEASE_VERSION: 9.3.2
    command: sh -c "cp /app/config/config_helper.exs /app/releases/9.3.2/config_helper.exs 2>/dev/null || true && bin/blockscout start"

  visualizer:
    extends:
      file: ./services/visualizer.yml
      service: visualizer

  sig-provider:
    extends:
      file: ./services/sig-provider.yml
      service: sig-provider

  frontend:
    depends_on:
      - backend
    extends:
      file: ./services/frontend.yml
      service: frontend

  stats-db-init:
    extends:
      file: ./services/stats.yml
      service: stats-db-init

  stats-db:
    depends_on:
      stats-db-init:
        condition: service_completed_successfully
    extends:
      file: ./services/stats.yml
      service: stats-db

  stats:
    depends_on:
      - stats-db
      - backend
    extends:
      file: ./services/stats.yml
      service: stats

  user-ops-indexer:
    depends_on:
      - db
      - backend
    extends:
      file: ./services/user-ops-indexer.yml
      service: user-ops-indexer

  proxy:
    depends_on:
      - backend
      - frontend
      - stats
    extends:
      file: ./services/nginx.yml
      service: proxy
